@inherits LayoutComponentBase

<PageTitle>HomeSHS</PageTitle>

<div class="page">
    <main>
        <div class="top-row px-4" style="display: flex; justify-content: flex-start;">
            <h3>Smart Home Simulator (SHS)</h3>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
