@inherits LayoutComponentBase

<PageTitle>HomeSHS</PageTitle>

<div class="page">
    <main>
        <div class="top-row px-4">
            <h3 style="align-content:flex-start">SHS</h3>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
