@page "/"
@using HomeSHS.Components
@using HomeSHS.Components.Helpers
@using HomeSHS.Components.SettingsTabs
@using SHC.Entities
@using SHC.Services
@inject IPageRefresher PageRefresher
@inject IUserService UserService

<div class="main-container">
    
    @if (simulationContext.House == null)
    {
        <div>
            <FileUpload />
        </div>
    }
    else
    {
    <div>
        <SimulatorSettings />    
    </div>
    <div class="home-view-container">
        <HouseLayoutRender />
    </div>
    }

</div>

@code {
    SimulationContext simulationContext = SimulationContext.GetInstance();

    protected async override Task OnInitializedAsync()
    {
        simulationContext.Users = (List<VirtualUser>)await UserService.GetAllUsers();
        await base.OnInitializedAsync();
        PageRefresher.IndexRefreshRequested += RefreshIndex;
    }

    private void RefreshIndex()
    {
        StateHasChanged();
    }
}