@page "/"
@using HomeSHS.Components
@using HomeSHS.Components.Helpers
@using HomeSHS.Components.SettingsTabs
@using SHC.Entities
@inject IPageRefresher PageRefresher

<div class="main-container">
    
    @if (simulationContext.House == null)
    {
        <div>
            <FileUpload />
        </div>
    }
    else
    {
    <div class="context-container">
        @if (simulationContext.CurrentDateTime == null)
        {
            <div class="user-container">
                <p>Hello</p>
            </div>
        }
        else
        {
            <div class="simulation-container">
                <p>Hello2</p>
            </div>
        }   
    </div>

    <div class="tabs-container">
        <SettingsTabControl>
            <ModuleSettingsTab Text="SHS">
                <SHSTab />
            </ModuleSettingsTab>
            <ModuleSettingsTab Text="SHC">
                <SHCTab />
            </ModuleSettingsTab>
        </SettingsTabControl>
    </div>

    <div class="home-view-container">
        <HouseLayoutRender />
    </div>
    }

</div>

@code {
    SimulationContext simulationContext = SimulationContext.GetInstance();

    protected async override Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        PageRefresher.IndexRefreshRequested += RefreshIndex;
    }

    private void RefreshIndex()
    {
        StateHasChanged();
    }
}