@page "/"
@using HomeSHS.Components
@using HomeSHS.Components.SettingsTabs

<div style="display: flex; flex-direction: row; align-items: flex-start;">
    <div>
        <SettingsTabControl>
            <ModuleSettingsTab Text="SHS">
                <SHSTab/>
            </ModuleSettingsTab>
            <ModuleSettingsTab Text="SHC">
                <SHCTab/>
            </ModuleSettingsTab>
        </SettingsTabControl>
    </div>

    <div>
        <HouseLayoutRender />
    </div>
    
</div>
