@page "/"
@using HomeSHS.Components
@using HomeSHS.Components.Helpers
@using HomeSHS.Components.SettingsTabs
@using SHC.Entities
@inject IPageRefresher PageRefresher

<div style="display: flex; flex-direction: row; align-items: flex-start;">
    
    @if (simulationContext.House == null)
    {
        <div>
            <FileUpload />
        </div>
    }
    else
    {
    <div>
        <SettingsTabControl>
            <ModuleSettingsTab Text="SHS">
                <SHSTab />
            </ModuleSettingsTab>
            <ModuleSettingsTab Text="SHC">
                <SHCTab />
            </ModuleSettingsTab>
        </SettingsTabControl>
    </div>

    <div>
        <HouseLayoutRender />
    </div>
    }

</div>

@code {
    SimulationContext simulationContext = SimulationContext.GetInstance();

    protected async override Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        PageRefresher.RefreshRequested += RefreshPage;
    }

    private void RefreshPage()
    {
        StateHasChanged();
    }
}