body {
    font-family: Arial, sans-serif;
}

.containers {
    width: fit-content;
    height: fit-content;
    padding: 20px;
    border: 1px solid #000;
    margin-top: 20px;
    margin-left: 20px;
}

.text-regular {
    font: 15px sans-serif;
}

.text-selected {
    font: bold 15px sans-serif;
}

.text-temp {
    font: 11px sans-serif;
}
