@using HomeSHS.Components
@using HomeSHS.Components.Helpers
@using HomeSHS.Components.SettingsTabs

<h3>Settings</h3>
<TabControl>
    <TabWrapper Text="SHS">
        <SHSTab />
    </TabWrapper>
    <TabWrapper Text="SHC">
        <SHCTab />
    </TabWrapper>
</TabControl>

@code {

}
