@using SHC.Entities

<div class="simulator-settings-container">
    <div class="context-container">
        @if (simulationContext.CurrentUser == null)
        {
            <div class="user-container">
                <UserTabs />
            </div>
        }
        else
        {
            <div class="simulation-container">
                <p>Hello2</p>
            </div>
        }
    </div>

    @if (simulationContext.CurrentUser != null)
    {
        <div class="settings-tabs-container">
            <ModuleTabs />
        </div>
    }
</div>


@code {
    SimulationContext simulationContext = SimulationContext.GetInstance();
}
