@page "/signup"
@using Microsoft.AspNetCore.Components.Forms;
@using SHC.Utilities;


<form class="form">
    <span class="signup">Sign Up</span>
    <input type="email" placeholder="Email address" class="form--input">
    <input type="password" placeholder="Password" class="form--input">
    <input type="password" placeholder="Confirm password" class="form--input">

    <div class="form--marketing">
        <input id="okayToEmail" type="checkbox">
        <label for="okayToEmail" class="checkbox">
            I want to join the newsletter
        </label>
    </div>
    <button class="form--submit">
        Sign up
    </button>
</form>
@code {



    protected override Task OnInitializedAsync()
    {


        return base.OnInitializedAsync();
    }
}
